*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
}

body{
    background: #f1f0f0;
}

.container{
    max-width: 700px;
    padding: 0 20px;
    margin: 90px auto;
}

.wrapper{
    width: 100%;
    height: 515px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
}

.wrapper .title{
    height: 90px;
    /*background: rgb(78, 77, 77);*/
    border-radius: 5px 5px 0 0;
    color: #11636E;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.wrapper form{
    padding: 40px 50px 30px 50px;
}

.wrapper form .row{
    position: relative;
    margin-bottom: 15px;
}

.wrapper form .row #Color{
    width: 100%;
    height: 220px;
    border-radius: 5px;
    border: 1px solid #11636E;
    margin-bottom: 47px;
    
}

.wrapper form .row #Color .code{
    font-size: 13px;
    font-weight: 600;
    text-align: center; 
    margin: 90px 0;
    color:black;
}

.wrapper form .row .Buttons{
    text-align: center;
}

.wrapper form .row .Buttons .generate ,.wrapper form .row .Buttons .copy{
    padding : 15px;
    width: 32%;
    margin-right : 0px;
    font-weight: 600;
    border: 1px solid lightgrey;
    cursor: pointer;
    display: inline-block;
    background-image: radial-gradient(circle, #0f1216, #18242d, #1b3844, #194d5a, #11636e);
    color: #fff;
    border-radius: 4px;
}

.wrapper form .row .Buttons .generate {
    margin-right: 15px;
}

.wrapper form .row .Buttons .generate:hover ,.wrapper form .row .Buttons .copy:hover{
    transition: all 0.4s ease;
    border-radius: 4px;
    background-image: radial-gradient(circle, #0f1216, #253948, #1b3844, #205e6d, #146b77);
}

.wrapper form .row .hide{
    display: none;
}

.wrapper form .row #copyMessage{
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 13px;
    margin-top: 22px;
}

footer {
    text-align: center;
    color: #11636E;
    font-size: 11px;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .wrapper .title{
        font-size: 23px;
    }

    .container{
        margin: 85px auto;
    }
    .wrapper form .row .Buttons .generate ,.wrapper form .row .Buttons .copy{
        font-size: 11px;
         width: 34%;
    }
    
    
    .wrapper form .row #copyMessage{
        font-size: 11px;
    }
}
